# Python virtual environment
einsteinmed/
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# PyTorch specific
*.dylib
*.so
*.dll
*.pyd
torch/
env